# Dependências
node_modules/
*/node_modules/

# Logs de debug e erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build de produção
dist/

# Diretórios de cache e temp do compilador
.sass-cache/
.eslintcache
.tsbuildinfo

# Arquivos de ambiente locais (não devem ser comitados pois contêm segredos)
.env.local
.env.*.local

# Editor directories
.vscode/
.idea/

package-lock.json
